*{
    font-family: 'Kanit', sans-serif;
}
#Navbar{
    background:#4C4B4D;
}
.navbar-custome{
    background:#4C4B4D!important;
}
.language2{
    position: absolute;
    right:10px;
    top:0;
    color:#FFF;
    font-size: 10px;
}
.navbar-brand img {
    max-width:150px;
}
.nav-item {
    border-bottom: 1px solid #4C4B4D;
}
.nav-item:hover {
    transition: border 1s;
    border-bottom: 1px solid orange;
}
.nav-link:hover{
    transition: color 1s;
}
.wrap-img-header{
    /* max-height: 700px; */
    overflow: hidden;
    padding:0;
    position: relative;
    /* border:1px solid red; */
}
.wrap-img-header img{
    width:100%;
    height:100%;
    /* border:1px solid green; */
}
#third-wrap{ 
    background: #666666;
    position: relative;
    overflow: hidden;
}
.imgThirdAbsolute{
    position: absolute;
    top:0px;
    width:100%;
    height:100%;
}

.inside-third{
    padding:40px;
}
.imgThirdAbsolute img {
    width:100%!important;
    height:100!important;
}
.logoThird{
    text-align: center;
    max-width: 350px;
    margin-bottom: 20px;
}
.logoThird img{
    max-width: 80%;
}
.contentThird{
    /* border:1px solid red; */
    width:100%;
    color:#FFF;
    /* margin-bottom: 20px; */
}
.imgBetweenThird{
    text-align: center;
    /* border:1px solid red; */
    width:300px;
    margin-bottom: 20px;
    margin-top:35px;
}
.imgBetweenThird img {
    max-width: 60%;
}
.textThird-Subject,.fourText-Subject,.fiveText-Subject,.sixText-Subject{
    font-size: 30px;
    margin-bottom: 10px;
    /* font-weight: bold; */
    font-family: 'Open Sans', sans-serif;
    color:#FFF;
    /* border:1px solid red; */
}
.insideFour,.insideSix{
    padding:40px;
    color:#676668;
}
.fourText-Subject,.sixText-Subject{
    color:#676668;
}
.fourimage-div{
    margin-bottom: 20px;
    text-align: center;
    /* border:1px solid red; */
    max-width: 1000px;
}
.fourimage-div img{
    max-width:100%;
}
.navfourtop,.fourbottom-div,.active-fourbottom-div{
    display: inline-block;
    padding:10px;
    cursor: pointer;
}
.active-navfourtop{
    background: #4C4B4D;
    color:#FFF;
}
.navfourtop:hover{
    transition: all 0.5s;
    background: #4C4B4D;
    color:#FFF;
}
.active-fourbottom-div:after{
    content:'';
    display: block;
    border:1px solid #E9D0AC;
    height:2;
    width:100%;
}
.fourbottom-div{
    /* border:1px solid green; */
}
.fourbottom-div:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #E9D0AC;
    transition: width .3s;
}
.fourbottom-div:hover:after {
    width: 100%;
}

#blockfive{
    background: #4C4B4D;
    color:#FFF;
}
.fiveText-Subject{
    /* color:#FFF; */
}
.wrap-five-img-slide{
    /* border:1px solid red; */
}
.wrap-inside-img-five{
    background:green;
    border:1px solid black;
    float:left;
    width:33.33%;
    height:300px;
    position: relative;
}
.wrap-inside-img-five{

}
.slide-img-five{
    position: relative;
    padding:0!important;
    width:600px!important;
}
.slide-img-five img{
    /* background:orange; */
    width:100%;
    height:100%!important;
}
.text-slide{
    position:absolute;
    background: rgba(19, 19, 19, 0.6);
    padding:5px;
    top:80%;
    left:0%;
}
.text-slide-mobile{
    top: 70%;
    position:absolute;
    background: rgba(19, 19, 19, 0.6);
    padding:5px;
    margin-left: auto; 
     margin-right: auto; 
}
.swiper-pagination-bullet-active{
    background:orange!important;
}
.insideSix{

}

#wrapSix{
    background: #FFF;
}
.six-block-content{
    position: relative;
    height:170px;
    margin-bottom: 15px;
}
.ribbon-right{
    position: absolute;
    top:0px;
    right:0px;
    height:100%;
}
.six-text-ribbon{
    padding:5px;
    text-align: right;
    position: absolute;
    right:30px;
    top:55%;
}

#wrapseven{
    background: #EFEFEF;
    color:#676668;
}
.wrap-imgsix{
    text-align: center;
    height:220px;
}
.wrap-imgsix img{
    width:100%;
    max-height: 100%;
    /* min-height:100%; */
}
.content-below-six{
    padding-top:10px;
    /* border:1px solid green; */
}
.wrap-six-content a{
    color:orange;
}
.wrap-six-content a:hover{
    transition: color 0.5s;
    color:rgb(44, 44, 43);
    text-decoration: none;
}
.imgfooter img{
    max-width:200px;
}

/* page2 */
.wrapImgLeft{
    
    height:220px;
}
.wrapImgLeft img{
    width:100%;
    height:100%;
}
.wrapTextRight{
    position: relative;
    height:220px;
}
.subject-right-two{
    font-size:20px;
}
.content-text-two{
    word-wrap: break-word;
}

@media only screen and (max-device-width: 767px){
    .subject-right-two{
        margin:15px 0px 10px 0px;
    }
    .wrapTextRight{
        position: relative;
        /* height:100px; */
        height:180px;
    }
}